      a(target='_blank' href='/').bcs-header-slack
        img(alt='Slack' src='assets/img/svg/slack.svg' onerror='this.src="assets/img/png/slack.png"').bcs-header-slack-img
        h5.bcs-header-slack-content
          | Join our slack!
