extends layout

block body_content
  nav.bcs-foursquare-nav
    .bcs-foursquare-nav-square#research
      a(href='/research' target='_blank')
        h3.bcs-foursquare-nav-square-content#desktop-lg
          | Student &amp; Faculty Research
        h4.bcs-foursquare-nav-square-content#non-desktop-lg
          | Student &amp; Faculty Research
    .bcs-foursquare-nav-square#resumes
      a(href='/resumes' target='_blank')
        h3.bcs-foursquare-nav-square-content#desktop-lg
          | Resumes
        h4.bcs-foursquare-nav-square-content#non-desktop-lg
          | Resumes
    .bcs-foursquare-nav-square#testbank
      a(href='/testbank' target='_blank')
        h3.bcs-foursquare-nav-square-content#desktop-lg
          | Test Bank
        h4.bcs-foursquare-nav-square-content#non-desktop-lg
          | Test Bank
    .bcs-foursquare-nav-square#assgnbank
      a(href='/assgnbank' target='_blank')
        h3.bcs-foursquare-nav-square-content#desktop-lg
          | Assignment Bank
        h4.bcs-foursquare-nav-square-content#non-desktop-lg
          | Assignment Bank
