doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='description' content='The student portal for Computer Science at Howard University')
    meta(name='viewport' content='width=device-width, maximum-scale=1.0 minimum-scale=1.0 initial-scale=1.0 user-scalable=no')
    meta(name='keywords' content='computer science, howard university, code, research, cs')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
    link(rel='shortcut icon' href='assets/favicon/favicon.ico')
    link(rel='shortcut icon' sizes='16x16' href='assets/favicon/favicon-16x16.png')
    link(rel='shortcut icon' sizes='32x32' href='assets/favicon/favicon-32x32.png')
    link(rel='shortcut icon' sizes='96x96' href='assets/favicon/favicon-96x96.png')
    link(rel='shortcut icon' sizes='230x230' href='assets/favicon/favicon-230x230.png')
    link(rel='apple-touch-icon' sizes='57x57' href='assets/favicon/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon-precomposed' sizes='57x57' href='assets/favicon/apple-touch-icon-precomposed.png')
    link(rel='apple-touch-icon' sizes='60x60' href='assets/favicon/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='assets/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='114x114' href='assets/favicon/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='152x152' href='assets/favicon/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='167x167' href='assets/favicon/apple-touch-icon-167x167.png')
    link(rel='stylesheet' type='text/css' href='css/fix.css')
    link(rel='stylesheet' type='text/css' href='css/typography.css')
    link(rel='stylesheet' type='text/css' href='css/main.css')
    block header_content
      title
        | Bison Computer Science - Home

    style.
      body {
        background-color: #003A63;
        color: #FAFAFA;
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: hidden;
      }

  body.bcs-body
    header.bcs-header
      a(href='/').bcs-header-title
        img(alt='bison computer science' src='assets/img/svg/logo.svg' onerror='this.src="assets/img/png/logo.png"').bcs-header-title-img
        h3.bcs-header-title-content#desktop-lg
          | bison computer science
        h4.bcs-header-title-content#non-desktop-lg
          | bison computer science
    main.bcs-main
      block body_content
      a(href='/').bcs-main-slack
        img(alt='Slack' src='assets/img/svg/slack.svg' onerror='this.src="assets/img/png/slack.png"').bcs-main-slack-img
        h3.bcs-main-slack-content#desktop-lg
          | Join our slack!
        h5.bcs-main-slack-content#non-desktop-lg
          | Join our slack!
    footer.bcs-footer
      h5.bcs-footer-content
        | &nbsp; created by &nbsp;
        a(target='_blank' href='https://vaemoi.co')
          | @vaemoi
