<title>bcs Storybook</title>
<meta name="description" content="A collection of UI components for bcs">
<style type="text/css">
  html {
    background-color: #003A63;
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    padding: 0;
    width: 100vw;
  }

  body {
    background-color: #003A63;
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }
</style>
