.bcs-foursquare-nav
  align-content space-between
  align-items center
  align-self center
  display flex
  flex-flow row wrap
  height 75%
  justify-content space-between
  max-height 75%
  max-width 75%
  min-height 75%
  min-width 75%
  width 75%

  @media only screen and (min-device-width: 900px)
    max-width 50%
    min-width 50%
    width 50%

  &-square
    align-content center
    align-items center
    align-self center
    box-shadow 3px 3px 3px $bison-bgrey
    cursor pointer
    display flex
    flex-flow row nowrap
    height 45%
    justify-content center
    max-height 45%
    max-width 45%
    min-height 45%
    min-width 45%
    text-align center
    width 45%
