@import 'variables'

.bcs
  &-body
    align-content center
    align-items center
    align-self center
    color $bison-white
    display flex
    flex-flow column nowrap
    height 100vh
    justify-content space-around
    max-height 100vh
    max-height 100vw
    min-height 100vh
    min-width 100vw
    width 100vw

  &-header
    align-content center
    align-items center
    align-self center
    display flex
    flex-flow row nowrap
    height 7.4%
    justify-content space-between
    max-height 7.4%
    max-width 100%
    min-height 7.4%
    min-width 100%
    width 100%

    &-title
      align-content center
      align-items center
      align-self center
      cursor pointer
      display flex
      flex-flow row nowrap
      height 100%
      justify-content flex-start
      max-height 100%
      max-width 75%
      min-height 100%
      min-width 75%
      width 75%

      &-content
        max-width 75%

      &-img
        height 75px
        max-height 75px
        max-width 75px
        min-height 75px
        min-width 75px
        width 75px

  &-main
    align-content center
    align-items center
    align-self center
    display flex
    flex-flow column nowrap
    height 90%
    justify-content space-around
    max-height 90%
    max-width 100%
    min-height 90%
    min-width 100%
    width 100%

    &-slack
      align-content center
      align-items center
      align-self flex-end
      background-color $bison-red
      border-radius 4px
      cursor pointer
      display flex
      flex-flow row nowrap
      height 5%
      justify-content center
      max-height 5%
      max-width 40%
      min-height 5%
      min-width 40%
      margin-right 2%
      width 40%

      @media only screen and (min-device-width: 700px)
        max-width 25%
        min-width 25%
        width 25%

      @media only screen and (min-device-width: 900px)
        max-width 15%
        min-width 15%
        width 15%

      &-img
        height 40px
        max-height 40px
        max-width 40px
        min-height 40px
        min-width 40px
        width 40px

  &-footer
    align-content flex-start
    align-items center
    align-self center
    display flex
    flex-flow row nowrap
    height 2.5%
    justify-content flex-start
    max-height 2.6%
    max-width 100%
    min-height 2.6%
    min-width 100%
    width 100%

    &-content
      cursor pointer
      font-size 14px
      padding-bottom 0.5%

  &-spinny
    align-content center
    align-items center
    align-self center
    display flex
    flex-flow row nowrap
    height 50%
    justify-content center
    max-height 50%
    max-width 50%
    min-height 50%
    min-width 50%
    width 50%
    z-index 100000

    &-content
      align-content center
      align-items center
      align-self center
      border-radius 50%
      border 3px solid transparent
      border-top-color $bison-white
      display flex
      height 150px
      flex-flow row nowrap
      justify-content center
      width 150px

      &:before
        content ''
        position absolute
        top 5px
        left 5px
        right 5px
        bottom 5px
        border-radius 50%
        border 3px solid transparent
        border-top-color $bison-red

      &:after
        content ''
        position absolute
        top 15px
        left 15px
        right 15px
        bottom 15px
        border-radius 50%
        border 3px solid transparent
        border-top-color $bison-bgrey

@import 'assgnbank'
@import 'foursquare'
@import 'research'
@import 'resumes'
@import 'testbank'
