.bcs-research
  &-item
    align-content center
    align-items center
    align-self center
    background-color $bison-red
    border-radius 4px
    color $bison-white
    display flex
    flex-flow row nowrap
    height 25%
    justify-content space-around
    max-height 25%
    max-width 90%
    min-height 25%
    min-width 90%
    width 90%

    &-info
      align-content center
      align-items flex-start
      align-self center
      color $bison-white
      display flex
      flex-flow column nowrap
      height 90%
      justify-content flex-start
      max-height 90%
      max-width 60%
      min-height 90%
      min-width 60%
      width 60%

    &-divider
      align-content center
      align-items center
      align-self center
      display flex
      flex-flow column nowrap
      height 70%
      justify-content center
      max-height 70%
      max-width 5%
      min-height 70%
      min-width 5%
      width 5%

      > hr
        height 100%

    &-img
      display flex
      max-height 100%
      max-width 100%

  &-list
    align-content center
    align-items center
    align-self center
    display flex
    flex-flow row nowrap
    height 95%
    justify-content center
    max-height 95%
    max-width 100%
    min-height 95%
    min-width 100%
    width 100%
