.bcs-resumelist-root
  align-content center
  align-items center
  align-self center
  display flex
  flex-flow row nowrap
  height 95%
  justify-content center
  max-height 95%
  max-width 100%
  min-height 95%
  min-width 100%
  width 100%
