//
// Variables for bisoncomputer.science
// ====================
//
//

//
// Colors
//
//
$bison-blue = #003A63
$bison-red = #E51937
$bison-grey = #5F6062
$bison-lblue = #2A6EBB
$bison-maron = #9C3022
$bison-purp = #5C3160
$bison-orange = #EA7125
$bison-mustard = #C79316
$bison-yellow = #FFC82E
$bison-green = #005643
$bison-bgrey = #6A808C
$bison-white = #FAFAFA
$bison-black = #333333

//
// Specific IDS
//
//
#research
  background-color $bison-maron
#resumes
  background-color $bison-mustard
#testbank
  background-color $bison-green
#assgnbank
  background-color $bison-grey

#desktop-lg
  display none

#non-desktop-lg
  display block

@media only screen and (min-device-width: 1000px)
  #non-desktop-lg
    display none

  #desktop-lg
    display block

#root
  align-content center
  align-items center
  align-self center
  display flex
  flex-flow row nowrap
  height 100vh
  justify-content center
  max-height 100vh
  max-width 100vw
  min-height 100vh
  min-width 100vw
  width 100vw
.center-decorator
  align-content center
  align-items center
  align-self center
  display flex
  flex-flow row nowrap
  height 100%
  justify-content center
  max-height 100%
  max-width 100%
  min-height 100%
  min-width 100%
  width 100%

//
// Animation
//
//
.spin
  animation spin 3s linear infinite

.spin:before
  animation spin 4.5s linear infinite

.spin:after
  animation spin 2.25s linear infinite

@keyframes spin
    0%
      transform rotate(0deg)
    100%
      transform rotate(360deg)
